<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RoleMapper">
    <select id="getRole" resultType="admin.model.Role" parameterType="java.lang.Integer">
        select * from db_vue_admin.tb_role where id=#{id}
    </select>
    <select id="getRoles" resultType="admin.model.Role">
        select  * from db_vue_admin.tb_role
    </select>
    <insert id="insertRole" parameterType="admin.model.Role">
        insert into db_vue_admin.tb_role (name, description, create_time, creator, update_user, update_time)
        value(#{name}, #{description},#{create_time},#{creator}, #{update_user}, #{update_time})
    </insert>
    <update id="updateRole" parameterType="admin.model.Role">
        update db_vue_admin.tb_role set
        name = #{name},description=#{description},create_time=#{create_time}, creator = #{creator},
        update_user =#{update_user}, update_time = #{update_time}
        where id = #{id}
    </update>
    <delete id="deleteRole" parameterType="java.lang.Integer">
        delete from db_vue_admin.tb_role where id = #{id}
    </delete>
</mapper>